{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor After login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'healthcare/Doctor_After_login.css' %}">
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i><img src="{% static 'healthcare/assets/hamburger-menu.svg' %}" alt=""></i>
    </label>
    <label for="logo" class="logo">HEALTH CARE</label>
    <ul>
            <li><a href="{% url 'doctor_dashboard' %}" class="active"><img src="{% static 'healthcare/assets/Overview.svg' %}" alt="">Overview</a></li>
            <li><a href="{% url 'doctor_patient_list' doctor_id=doctor_id %}"><img src="{% static 'healthcare/assets/patient.svg' %}" alt="">Patients List</a></li>
            <li><a href="{% url 'appointment_list' doctor_id=doctor_id %}"><img src="{% static 'healthcare/assets/Appointment Scheduling.svg' %}" alt="">Appointments</a></li>


            <li><a href="{% url 'home' %}"><img src="{% static 'healthcare/assets/Logout.svg' %}" alt="">Log out</a></li>
    </ul>
</nav>
      <div class="main">
        <aside>
            <h4>DASHBOARD</h4>
            <ul>
              <li><a href="{% url 'doctor_dashboard' %}" class="active"><img src="{% static 'healthcare/assets/Overview.svg' %}" alt="">Overview</a></li>
              <li><a href="{% url 'doctor_patient_list' %}" ><img src="{% static 'healthcare/assets/patient.svg' %}" alt="">Patients List</a></li>
              <li><a href="{% url 'appointment_list' doctor_id=doctor_id %}"><img src="{% static 'healthcare/assets/Appointment Scheduling.svg' %}" alt="">Appointments</a></li>
              <li><a href="{% url 'home' %}"><img src="{% static 'healthcare/assets/Logout.svg' %}" alt="">Log out</a></li>
          </ul>
        </aside>
        <main>
            <div class="divider_1">
                <div class="profile"></div>
                <div class="patient_list">
                    <div class="patient_title">
                        <h4>Patient list</h4>
                        <div class="day">Today<img src="{% static 'healthcare/assets/Drop Down.svg' %}" alt=""></div>
                    </div>
                    <div class="test">
                      {% for patient in patients %}
                    <div class="names">
                        <div class="name_circle">{{ patient.gender|slice:":1"|upper }}</div>
                        <div class="name">{{patient.name}}</div>
                    </div>
                     {% endfor %}                
                  </div>
                </div>
            </div>
            <div class="divider_2">
                <div class="total">
                    <div class="total_patient">
                      <img src="{% static 'healthcare/assets/total patient.svg' %}" alt="">
                      <div class="total_content">
                        <p>Total patients</p>
                        <p class="total_no">{{ patient_count}}</p>
                        <p class="title_today">Till today</p> 
                      </div>
                    </div>
                    <div class="total_patient">
                      <img src="{% static 'healthcare/assets/today patient.svg' %}" alt="">
                      <div class="total_content">
                        <p class="today_title">Today patients</p>
                        <p class="total_no">{{ appointment_count }}</p>
                        <p class="title_today">{{ today }}</p>
                      </div>
                    </div>
                </div>
                <div class="upcoming">
                  <h4>Upcoming</h4>
                  
                  
                  <div class="upcoming_content">
                    
                    {% if appointments_today %}

                      <div class="name_circle">{{ appointments_today.0.patient.name|slice:":2" }}</div>
                      <div class="name">{{ appointments_today.0.patient.name }}</div>
                      <div class="time">{{ appointments_today.0.appointment_date|date:"H:i" }}</div>

                    {% else %}

                    <p>No upcoming appointments for today.</p>

                    {% endif %}
                  </div>
                </div>
                <div class="appointment">
                  <div class="appointment_title">
                    <h4>Appointment</h4>
                    <div class="day">Today <img src="{% static 'healthcare/assets/Drop Down.svg' %}" alt=""></div>
                </div>
                
                <div class="table_content">
                <table>
                  <thead>
                    <tr>
                      <th>Patient</th>
                      <th class="name">Name/Diagnosis</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for appointment in appointments_today %}

                      {% if not forloop.first %}
                        <tr>
            
                          <td><div class="name_circle" style="margin: 0 auto;">{{ appointment.patient.name|slice:":2" }}</div></td>
                          <td class="name">{{ appointment.patient.name }}</td>
                          <td><div class="time" style="margin: 0 auto;">{{ appointment.appointment_date|date:"H:i" }}</div></td>
                        
                        </tr>
                      {% endif %}
                      
                    {% endfor %}
                  </tbody>
                </table>
              </div>
                </div>
            </div>
        </main>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>